//Green

.green1 {
    background-color: #D6EADF;
}

.green2 {
    background-color: #98D6C1;
    &:hover {
        background: linear-gradient(135deg, #D6EADF 5%,  #DDE2CD 24%,  #EAC4D5 43%, #EAC4D5 52%, #DDE2CD 75%, #D6EADF 95%);
        background-size: 600% 100%;
        animation: gradient 4s linear infinite;
        text-decoration: none;
    }
}

.aboutgreen {
    background-color: #71A5DE;
}

.linktogreen {
    background-color: #EAC4D5;
}

.contactgreen {
    background-color: #D4BBFC;
}

.newsgreen {
    background-color: #98D6C1;
}

//Lightblue

.lightblue1 {
    background-color: #AECBEB;
}

.lightblue2 {
    background-color: #71A5DE;
    &:hover {
        background: linear-gradient(135deg, #AECBEB 5%,  #D2C6E6 24%,  #EAC4D5 43%, #EAC4D5 52%, #D2C6E6 75%, #AECBEB 95%);
        background-size: 600% 100%;
        animation: gradient 4s linear infinite;
        text-decoration: none;
    }
}

.aboutlightblue {
    background-color: #D4BBFC;
}

.linktolightblue {
    background-color: #71A5DE;
}

.contactlightblue {
    background-color: #98D6C1;
}

.newslightblue {
    background-color: #EAC4D5;
}

//Purple

.purple1 {
    background-color: #D4BBFC;
}

.purple2 {
    background-color: #A17ADD;
    &:hover {
        background: linear-gradient(135deg, #D4BBFC 5%,  #F8ACFF 24%,  #EAC4D5 43%, #EAC4D5 52%, #F8ACFF 75%, #D4BBFC 95%);
        background-size: 600% 100%;
        animation: gradient 4s linear infinite;
        text-decoration: none;
    }
}

.aboutpurple {
    background-color: #98D6C1;
}

.linktopurple {
    background-color: #b894f2;
}

.contactpurple {
    background-color: #EAC4D5;
}

.newspurple {
    background-color: #71A5DE;
}

//Peach

.peach1 {
    background-color: #F8AD9D;
}

.peach2 {
    background-color: #F08080;
    &:hover {
        background: linear-gradient(135deg, #F8AD9D 5%,  #F2DDCA 24%,  #EAC4D5 43%, #EAC4D5 52%, #F2DDCA 75%, #F8AD9D 95%);
        background-size: 600% 100%;
        animation: gradient 4s linear infinite;
        text-decoration: none;
    }
}

.aboutpeach {
    background-color: #EAC4D5;
}

.linktopeach {
    background-color: #98D6C1;
}

.contactpeach {
    background-color: #71A5DE;    
}

.newspeach {
    background-color: #D4BBFC;    
}