body {
    font-family: 'Dela Gothic One', cursive;
    font-size: 1em;
    margin: 0;
}

main {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
    .profile {
        margin: 2vh;
        padding: 1vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            border: 4px solid black;
            padding: 2vh 2vh 2vh 2vh;
            color: black;
        }

        .info {
            border: 4px solid black;
            padding: 2vh 3vh 2vh 3vh;
            color: black;
        }
    }

    .color_change {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width: 800px) {
            top: -5px;
        }
        @media screen and (min-width: 801px) {
            top: -60px;
        }

        div {
            width: 20px;
            height: 20px;
            border: 3px solid black;
            transform: scale(1);
            transition: all 200ms;
            &:hover {
                transform: scale(1.2);
            }
        }

        .green {
            background-color: #D6EADF;
            border-radius: 50%;
        }

        .lightblue {
            background-color: #AECBEB;
            border-radius: 50%;
        }

        .purple {
            background-color: #D4BBFC;
            border-radius: 50%;
        }

        .peach {
            background-color: #F8AD9D;
            border-radius: 50%;
        }
    }
}

.centerinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;

    .phonepic {
        @media screen and (max-width: 800px) {
            display: flex;
            width: 40vw;
            height: fit-content;
            border: 4px solid black;
            border-radius: 50%;
        }
        @media screen and (min-width: 801px) {
            display: none;
        }
    }

    .more {
        display: grid;
        gap: 2vw;
        align-self: center;
        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @media screen and (min-width: 801px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .about {
            text-align: left;
            display: flex;
            flex-direction: column;
            border: 4px solid black;
            padding: 2vh 2vh 2vh 2vh;
            color: black;

            @media screen and (max-width: 800px) {
                grid-column: 1 / 3;
                grid-row: 2;
            }
            @media screen and (min-width: 801px) {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
        }

        .linkto {
            text-align: left;
            display: flex;
            flex-direction: column;
            border: 4px solid black;
            padding: 2vh 2vh 2vh 2vh;
            color: black;

            @media screen and (max-width: 800px) {
                grid-column: 3;
                grid-row: 2;
            }
            @media screen and (min-width: 801px) {
                grid-column: 3 / 4;
                grid-row: 1;
            }
            a {
                color: black;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .contact {
            text-align: left;
            display: flex;
            flex-direction: column;
            border: 4px solid black;
            padding: 2vh 2vh 2vh 2vh;
            color: black;

            @media screen and (max-width: 800px) {
                grid-column: 1 / 4;
                grid-row: 3;
            }
            @media screen and (min-width: 801px) {
                height: fit-content;
                grid-column: 1 / 3;
                grid-row: 2;
            }

            .to {
                color: black;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .pcpic {
            @media screen and (max-width: 800px) {
                display: none;
            }
            @media screen and (min-width: 801px) {
                width: 20vw;
                display: flex;
                height: fit-content;
                border: 4px solid black;
                border-radius: 50%;
                grid-column: 4;
                grid-row: 1;
            }
        }

        .news {
            text-align: left;
            display: flex;
            flex-direction: column;
            border: 4px solid black;
            height: fit-content;
            padding: 2vh 2vh 2vh 2vh;
            color: black;

            @media screen and (max-width: 800px) {
                grid-column: 1 / 4;
                grid-row: 4;
            }
            @media screen and (min-width: 801px) {
                grid-column: 3 / 5;
                grid-row: 2;
            }
        }
    }
}

