body {
  font-family: "Dela Gothic One", cursive;
  font-size: 1em;
  margin: 0;
}

main {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main .profile {
  margin: 2vh;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .profile .name {
  border: 4px solid black;
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}
main .profile .info {
  border: 4px solid black;
  padding: 2vh 3vh 2vh 3vh;
  color: black;
}
main .color_change {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 800px) {
  main .color_change {
    top: -5px;
  }
}
@media screen and (min-width: 801px) {
  main .color_change {
    top: -100px;
  }
}
main .color_change div {
  width: 20px;
  height: 20px;
  border: 3px solid black;
  transform: scale(1);
  transition: all 200ms;
}
main .color_change div:hover {
  transform: scale(1.2);
}
main .color_change .green {
  background-color: #D6EADF;
  border-radius: 50%;
}
main .color_change .lightblue {
  background-color: #AECBEB;
  border-radius: 50%;
}
main .color_change .purple {
  background-color: #D4BBFC;
  border-radius: 50%;
}
main .color_change .peach {
  background-color: #F8AD9D;
  border-radius: 50%;
}

.centerinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}
@media screen and (max-width: 800px) {
  .centerinfo .phonepic {
    display: flex;
    width: 40vw;
    height: -moz-fit-content;
    height: fit-content;
    border: 4px solid black;
    border-radius: 50%;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .phonepic {
    display: none;
  }
}
.centerinfo .more {
  display: grid;
  gap: 2vw;
  align-self: center;
}
@media screen and (max-width: 800px) {
  .centerinfo .more {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.centerinfo .more .about {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}
@media screen and (max-width: 800px) {
  .centerinfo .more .about {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more .about {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.centerinfo .more .linkto {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}
@media screen and (max-width: 800px) {
  .centerinfo .more .linkto {
    grid-column: 3;
    grid-row: 2;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more .linkto {
    grid-column: 3/4;
    grid-row: 1;
  }
}
.centerinfo .more .linkto a {
  color: black;
}
.centerinfo .more .linkto a:hover {
  text-decoration: none;
}
.centerinfo .more .contact {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}
@media screen and (max-width: 800px) {
  .centerinfo .more .contact {
    grid-column: 1/4;
    grid-row: 3;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more .contact {
    height: -moz-fit-content;
    height: fit-content;
    grid-column: 1/3;
    grid-row: 2;
  }
}
.centerinfo .more .contact .to {
  color: black;
}
.centerinfo .more .contact .to:hover {
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .centerinfo .more .pcpic {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more .pcpic {
    width: 20vw;
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    border: 4px solid black;
    border-radius: 50%;
    grid-column: 4;
    grid-row: 1;
  }
}
.centerinfo .more .news {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}
@media screen and (max-width: 800px) {
  .centerinfo .more .news {
    grid-column: 1/4;
    grid-row: 4;
  }
}
@media screen and (min-width: 801px) {
  .centerinfo .more .news {
    grid-column: 3/5;
    grid-row: 2;
  }
}/*# sourceMappingURL=info.css.map */