body {
    font-family: 'Dela Gothic One', cursive;
    background-color: #D6EADF;
    font-size: 1em;
    margin: 0;
}

a {
    cursor: pointer;
}

main {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .profile {
        margin: 2vh;
        padding: 1vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            border: 4px solid black;
            padding: 2vh 2vh 2vh 2vh;
            color: black;
        }

        .info {
            border: 4px solid black;
            padding: 2vh 3vh 2vh 3vh;
            color: black;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;

        .card {
            margin: 2vh 2vw 2vh 2vw;
            border: 6px solid black;
            overflow: hidden;
            img {
                border-bottom: 6px solid black;
                @media screen and (max-width: 767px) {
                    width: 45vw;
                }
                @media screen and (min-width: 767px) and (max-width: 1105px) {
                    width: 30vw;
                }
                @media screen and (min-width: 1105px) {
                    width: 18vw;
                }
            }
            p {
                font-size: 1.5em;
            }
            &:hover {
                background-color: #EAC4D5;
            }
            div {
                .title {
                    border: 4px solid black;
                    padding: 2vh 3vh 2vh 3vh;
                    margin: auto auto 2vh auto ;
                    width: fit-content;
                }
                .lcard_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .scard {
                        display: flex;
                        flex-direction: column;
                        margin: 2vh 2vw 2vh 2vw;
                        border: 6px solid black;
                        img {
                            border-bottom: 6px solid black;
                            background-color: white;

                            @media screen and (max-width: 767px) {
                                max-width: 150px;
                                width: 30vw;
                            }
                            @media screen and (min-width: 767px) and (max-width: 1024px) {
                                max-width: 180px;
                                width: 20vw;
                            }
                            @media screen and (min-width: 1024px) {
                                max-width: 210px;
                                width: 16vw;
                            }
                        }
                        .text_language {
                            @media screen and (max-width: 560px) {
                                font-size: 0.8em;
                            }
                        }
                    }

                    .lcard {
                        display: flex;
                        flex-direction: column;
                        margin: 2vh 2vw 2vh 2vw;
                        border: 6px solid black;

                        video {
                            border-bottom: 6px solid black;
                            background-color: white;

                            @media screen and (max-width: 767px) {
                                width: 70vw;
                            }
                            @media screen and (min-width: 767px) and (max-width: 1024px) {
                                width: 80vw;
                            }
                            @media screen and (min-width: 1024px) {
                                max-width: 900px;
                                width: 70vw;
                            }
                        }
                        .vidlink {
                            color: black;
                            margin: 1em;
                            text-decoration: underline;
                            font-size: 1.5em;
                            @media screen and (max-width: 560px) {
                                font-size: 0.8em;
                            }
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        .text_container {
                            display: flex;
                            flex-direction: column;
                            border-bottom: 6px solid black;
                            background-color: white;
                            @media screen and (max-width: 768px) {
                                width: 70vw;
                            }
                            @media screen and (min-width: 768px) and (max-width: 1023px) {
                                width: 35vw;
                            }
                            @media screen and (min-width: 1024px) {
                                width: 30vw;
                            }
                            p {
                                margin: 2vh 2vw 2vh 2vw;
                                font-size: 1em;
                            }
                            .sub_text {
                                margin: 2vh 2vw 2vh 2vw;
                                text-align: left;
                                font-size: 0.8em;
                            }
                        }
                        &:hover {
                            background: linear-gradient(130deg, rgba(128,155,206,1) 5%, rgba(140,212,187,1) 17%, rgba(214,234,223,1) 30%, rgb(228, 173, 198) 50%,
                            rgba(214,234,223,1) 70%, rgba(140,212,187,1) 82%, rgba(128,155,206,1) 95%);
                            background-size: 1800% 100%;
                            animation: gradient 10s linear infinite;
                        }
                    }
                }
                .vid {
                    flex-direction: column;
                    @media screen and (min-width: 768px) and (max-width: 1023px) {
                        width: 90vw;
                    }
                    @media screen and (min-width: 1024px) {
                        width: 80vw;
                    }
                }
            }
        }
    }

    .color_change {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        div {
            width: 20px;
            height: 20px;
            border: 3px solid black;
            transform: scale(1);
            transition: all 200ms;
            &:hover {
                transform: scale(1.2);
            }
        }

        .green {
            background-color: #D6EADF;
            border-radius: 50%;
        }

        .lightblue {
            background-color: #AECBEB;
            border-radius: 50%;
        }

        .purple {
            background-color: #D4BBFC;
            border-radius: 50%;
        }

        .peach {
            background-color: #F8AD9D;
            border-radius: 50%;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        align-items: center;
        border: 4px solid black;
        .link {
            margin: 1vh;
            color: black;
            &:hover {
                text-decoration: none;
            }
        }
        p {
            margin: 1vh;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}